<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button class="ui icon button toolbar-button" 
  (click)="openJsonFile()" style="margin-right:10px" (change)="fileSelected($event)">
    <input #fileInput type="file" style="display: none;height: 0;width: 0;"  accept=".json,application/json">
    <div class='icon'>
      <img src="./assets/icon/open_16.ico" />
    </div>
    <div class='text'>Open</div>
  </button>
  <button class="ui icon button toolbar-button">
    <div class='icon'>
      <img src="./assets/icon/hide_selected_16.ico" />
    </div>
    <div class='text'>Hide</div>
  </button>
  <button class="ui icon button toolbar-button">
    <div class='icon'>
      <img src="./assets/icon/hide_orders_16.ico" />
    </div>
    <div class='text'>Hide other</div>
  </button>
  <button class="ui icon button toolbar-button" (click)="visibilityManager.showAllMeshes(true)">
    <div class='icon'>
      <img src="../assets/icon/hide_unselected_16.ico" />
    </div>
    <div class='text'>Unhide</div>
  </button>
  <!-- Button Export CityGML -->
  <button class="ui icon button toolbar-button" (click)="onExportCityGML()" style="margin-left:10px" [disabled]="!modelOpenning">
    <div class='icon'>
      <img src="./assets/icon/ic-export.png" />
    </div>
    <div class='text'>Export</div>
  </button>

</div>
<div class='window-body'>
<div class='side-bar'>
    <div class='side-bar-group'>
        <div class='group-header'>Hierarchy</div>
        <div class='group-content'>
          <tree-root [nodes]="hierarchy" [options]="options" (activate)="onDocumentClick($event)"></tree-root>
        </div>
    </div>
</div>
<div #threeDViewerContainer class='viewer-container'>
    <canvas #threeDViewer id='threeDViewer'></canvas>
</div>
<div class='side-bar'>
    <div class='side-bar-group'>
        <div class='group-header'>Property</div>
        <div class='group-content'>
          <table>
            <tr *ngFor="let prop of selectedItemProperties">
              <td>{{prop.name}}</td>
              <td>{{prop.value}}</td>
            </tr>
          </table>
        </div>
    </div>
</div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
