<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="width" value="1300"/>
    <add key="height" value="3000"/>
    <add key="thickness" value="150"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
